@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.header {
  background-color: #4dd0e1;
  border: 2px dashed black;
}

.get-started-button {
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: purple;
  color: white
}

.content {
  background-color: #ececec;
}

.site-card-border-less-wrapper {
  margin: 50px;
  padding: 0;
  background: #ececec;
}